<div>
    <header>
        <nav class="navbar">
            <div>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/api/users">Usuarios</a></li>
                </ul>
            </div>
            <div class="navUser">
                <ul>
                    <li> {{user}}</li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a href="/api/users">
                    <svg width="15px" height="15px" viewBox="0 -1 24 24" id="meteor-icon-kit__solid-users" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.99978 -0.000028C11.3134 -0.000028 13.9996 2.68619 13.9996 5.9998C13.9996 9.3134 11.3134 11.9996 7.99978 11.9996C4.68616 11.9996 1.99994 9.3134 1.99994 5.9998C1.99994 2.68619 4.68616 -0.000028 7.99978 -0.000028zM0.999972 22.0984C0.447703 22.0984 0 21.6507 0 21.0984V18.9994C0 16.2381 2.23851 13.9996 4.99986 13.9996H11.0004C13.7617 13.9996 16.0003 16.2381 16.0003 18.9994V21.0984C16.0003 21.6507 15.5526 22.0984 15.0003 22.0984C14.448 22.0984 1.55224 22.0984 0.999972 22.0984zM13.7484 11.563C15.142 10.1233 15.9996 8.16172 15.9996 5.9998C15.9996 3.83789 15.142 1.87627 13.7484 0.43658C14.4436 0.15502 15.2034 -0.000028 15.9996 -0.000028C19.3132 -0.000028 21.9994 2.68619 21.9994 5.9998C21.9994 9.3134 19.3132 11.9996 15.9996 11.9996C15.2034 11.9996 14.4436 11.8446 13.7484 11.563zM15.8992 13.9996H19.0002C21.7615 13.9996 24 16.2381 24 18.9994V21.0984C24 21.6507 23.5523 22.0984 23.0001 22.0984H17.8295C17.94 21.7856 18.0002 21.449 18.0002 21.0984V18.9994C18.0002 17.0408 17.1958 15.2701 15.8992 13.9996z"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    Usuarios</a>
            </li>
            <li class="selected">
                <a href="/api/chat">
                    <svg width="15px" height="15px" viewBox="0 0 24 24" id="meteor-icon-kit__solid-whatsapp" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M20.5129 3.4866C18.2882 1.24722 15.2597 -0.00837473 12.1032 4.20445e-05C5.54964 4.20445e-05 0.216056 5.33306 0.213776 11.8883C0.210977 13.9746 0.75841 16.0247 1.80085 17.8319L0.114014 23.9932L6.41672 22.34C8.15975 23.2898 10.1131 23.7874 12.0981 23.7874H12.1032C18.6556 23.7874 23.9897 18.4538 23.992 11.8986C24.0022 8.74248 22.7494 5.71347 20.5129 3.4866ZM17.5234 14.3755C17.2264 14.2267 15.7659 13.5085 15.4934 13.4064C15.2209 13.3044 15.0231 13.2576 14.8253 13.5552C14.6275 13.8528 14.058 14.5215 13.8847 14.7199C13.7114 14.9182 13.5381 14.9427 13.241 14.794C12.944 14.6452 11.9869 14.3316 10.8519 13.3198C9.96884 12.5319 9.36969 11.5594 9.19867 11.2618C9.02765 10.9642 9.18043 10.8057 9.32922 10.6552C9.46261 10.5224 9.62622 10.3086 9.77444 10.1348C9.92266 9.9609 9.97283 9.83776 10.0714 9.63938C10.1701 9.44099 10.121 9.26769 10.0469 9.1189C9.97283 8.97011 9.37824 7.50788 9.13083 6.9133C8.88969 6.3341 8.64513 6.4122 8.46271 6.40023C8.29169 6.39168 8.09102 6.38997 7.89264 6.38997C7.58822 6.39793 7.30097 6.53267 7.10024 6.76166C6.82831 7.05923 6.061 7.77752 6.061 9.23976C6.061 10.702 7.12532 12.1146 7.27354 12.313C7.42176 12.5114 9.36855 15.5117 12.3472 16.7989C12.9004 17.0375 13.4657 17.2468 14.0409 17.426C14.7523 17.654 15.3999 17.6204 15.9118 17.544C16.4819 17.4585 17.6694 16.8251 17.9173 16.1313C18.1653 15.4376 18.1648 14.8424 18.0884 14.7187C18.012 14.595 17.8204 14.5266 17.5234 14.3778V14.3755Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    Chat</a>
            </li>
            <li>
                <a href="/api/sessions/logout" id="logout">
                    <svg width="15px" height="15px" viewBox="0 0 24 24" id="meteor-icon-kit__solid-sign-out" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 4.7708L3 3.2708V20.7294L12 19.2294V17.0001C12 16.1717 12.6716 15.5001 13.5 15.5001C14.3284 15.5001 15 16.1717 15 17.0001V19.653C15 20.8751 14.1165 21.9181 12.911 22.119L2.911 23.7856C2.77517 23.8083 2.6377 23.8196 2.5 23.8196C1.11929 23.8196 0 22.7004 0 21.3196V2.68057C0 2.54286 0.0113771 2.4054 0.0340152 2.26957C0.261003 0.907643 1.54907 -0.0124066 2.911 0.214581L12.911 1.88125C14.1165 2.08216 15 3.12513 15 4.34723V7.00011C15 7.82853 14.3284 8.50011 13.5 8.50011C12.6716 8.50011 12 7.82853 12 7.00011V4.7708ZM18.8787 13.5001H7C6.17157 13.5001 5.5 12.8285 5.5 12.0001C5.5 11.1717 6.17157 10.5001 7 10.5001H18.8787L18.4393 10.0608C17.8536 9.47498 17.8536 8.52523 18.4393 7.93945C19.0251 7.35366 19.9749 7.35366 20.5607 7.93945L23.5607 10.9394C24.1464 11.5252 24.1464 12.475 23.5607 13.0608L20.5607 16.0608C19.9749 16.6466 19.0251 16.6466 18.4393 16.0608C17.8536 15.475 17.8536 14.5252 18.4393 13.9394L18.8787 13.5001Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    Cerrar Sesion</a>
            </li>
        </ul>
    </aside>
    <main>
        <div class="container">

            <div class="chatContainer">
                <div class="chatHeader">
                    <h1>Chat General</h1>
                </div>
                <div id="messageLogs">
                </div>
                <div class="chatInput">
                    <input type="text" id="chatbox">
                </div>

            </div>
        </div>

    </main>
    <footer>

    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messageLogs.js"></script>