<main>
    <div class="login-card">
        <h2>Login</h2>
        <form class="login-form" action="/api/sessions/login" method="post">
            <input type="text" name="email" placeholder="Ingrese su Email" required>
            <input type="password" name="password" placeholder="Ingrese su password" required>
            <button>Enviar</button>
            <a href="/register">Register</a>
            <a href="/restorePassword">¿Ha olvidad su contraseña?</a>
        </form>
    </div>
</main>